@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f9f8f3;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dbd5bc;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cec5a3;
}